.button {
  padding: var(--input-gap) calc(2 * var(--input-gap));
  border-radius: var(--border-raduis);
  background-color: var(--primary-color);
  font-size: var(--input-font-size);

  &:hover {
    background-color: var(--primary-color-hover);
  }

  &.text-button {
    background-color: transparent;
  }
}
